/* Primer Color */
/* Device Width */
/* Font Refference */
/* Default Font Setting */
body {
  color: #34495e;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
}

.content-wrap .content img {
  -webkit-box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.17);
}

body {
  margin: 0 auto;
  background-color: #fff;
}

.center {
  text-align: center !important;
}

.header-wrap {
  background-image: linear-gradient(to bottom right, #01D2FD, #00B9F9, #7C66EC, #7A29D0, #560085);
  color: #fff;
  position: relative;
  padding: 20px 20px;
}
.header-wrap img {
  max-height: 250px;
  margin-top: 50px;
  border: 10px #fff solid;
  border-radius: 100%;
  z-index: 3;
  position: relative;
}
.header-wrap h3 {
  font-size: 45pt;
  font-weight: 200;
}
.header-wrap .header-profile {
  position: relative;
  z-index: 3;
}
.header-wrap .header-profile .header-profile-title {
  font-size: 15pt;
  font-weight: 800;
}
.header-wrap .header-profile .header-profile-link {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .header-wrap .header-profile {
    margin-top: 20px;
    text-align: center;
  }
  .header-wrap .header-profile .header-profile-title {
    font-size: 12pt;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap .header-profile {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .header-wrap {
    height: 600px;
  }
  .header-wrap h3 {
    font-size: 35pt;
  }
}
@media screen and (min-width: 768px) {
  .header-wrap {
    height: 500px;
  }
}

.grand-parent-profile-bg {
  position: relative;
}

.parent-profile-bg {
  overflow: hidden;
}

.profile-bg {
  position: absolute;
  width: 98%;
  border-radius: 0;
  border: none;
  top: 0px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .profile-bg {
    display: none;
  }
}
@media screen and (min-width: 2000px) {
  .profile-bg {
    display: none;
  }
}

.header-wrap::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  width: 100%;
  height: 70px;
  content: " ";
  background-image: url("images/bg-bottom-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-section {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .content-section .container {
    padding: 0;
    margin: 0;
  }
}

.content-wrap {
  padding: 20px 20px;
}
.content-wrap .title h3 {
  font-size: 25pt;
  font-weight: 800;
  color: #273c75;
}
.content-wrap .content img {
  border-radius: 10px;
}
.content-wrap .content .btn {
  color: #273c75;
  font-weight: 800;
}
.content-wrap .tech-stack img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.content-wrap .tech-stack img:hover {
  filter: none;
}

.owl-dots {
  display: none;
}

.footer {
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, #01D2FD, #00B9F9, #7C66EC, #7A29D0, #560085);
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
