<template>
  <div id="Home">
    <main-background></main-background>
    <main-portofolio></main-portofolio>
    <main-footer></main-footer>
  </div>
</template>

<script>
import mainBackground from "../components/home/MainBackground.vue";
import mainPortofolio from "../components/home/MainPortofolio.vue";
import mainFooter from "../components/home/MainFooter.vue";

export default {
  name: "Home",
  components: { mainBackground, mainPortofolio, mainFooter }
};
</script>
