<template>
  <div id="MainFooter">
    <div class="footer">
      <p>
        This website made by hand and
        <i class="fa fa-heart" aria-hidden="true"></i> with Bootstrap CSS Framework and FontAwesome 4
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainFooter"
};
</script>