<template>
  <div id="MainBackground">
    <div class="grand-parent-profile-bg">
      <div class="parent-profile-bg">
        <img src="assets/images/bg-profile.png" class="profile-bg" />
      </div>
    </div>

    <div class="header-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6 center">
            <img src="assets/images/profile.jpg" />
          </div>
          <div class="col-md-6">
            <div class="header-profile">
              <h3>Munir A.P.</h3>
              <div class="header-profile-title">
                <span>#Software Developer</span>
                <span>#UI/UX Designer</span>
              </div>
              <div class="header-profile-link">
                Find me :
                <a href="https://github.com/munirapp" target="_blank">
                  <button type="button" class="btn btn-outline-light">
                    <i class="fa fa-github" aria-hidden="true"></i> Github
                  </button>
                </a>
                <a href="https://www.facebook.com/m.munir.ap" target="_blank">
                  <button type="button" class="btn btn-outline-light">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    Facebook
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainBackground"
};
</script>
