<template>
  <div id="MainPortofolio">
    <div class="content-section">
      <div class="container">
        <div class="content-wrap">
          <div class="title">
            <h3>Portofolio Project</h3>
          </div>
          <div class="content">
            <p>
              Since 2016 until now, I have helped several Government Agencies,
              Private Parties and Small Startups
            </p>

            <carousel
              :items="4"
              :responsive="{
                0: { items: 1, nav: false },
                600: { items: 4, nav: false }
              }"
              :autoplay="true"
              :nav="false"
            >
              <div
                class="item item-portofolio"
                style="width:250px"
                v-for="(item, index) in list_items"
                :key="index"
              >
                <a :href="item.image">
                  <img :src="item.image" />
                </a>
              </div>
            </carousel>
          </div>
        </div>

        <div class="content-wrap">
          <div class="title">
            <h3>Tech Skills</h3>
          </div>
          <div class="tech-stack">
            <p>In my previous project I used technology as follows</p>
            <carousel
              :items="5"
              :autoplay="true"
              :nav="false"
              :responsive="{
                0: { items: 2, nav: false },
                600: { items: 5, nav: false }
              }"
            >
              <div
                class="item"
                :style="
                  `width:${item.width}px; margin:0 auto; vertical-align:middle;`
                "
                v-for="(item, index) in list_stack"
                :key="index"
              >
                <img :src="item.image" />
              </div>
            </carousel>

            <br />
            <p>
              But I am very accepting and adapting if the future project will
              have to use technology that I have never used :)
            </p>
          </div>
        </div>

        <div class="content-wrap">
          <div class="title">
            <h3>Interested in hire me?</h3>
          </div>
          <div class="content">
            <p>Please tell me about the scope and details of job at</p>
            <a
              href="mailto:softwaremakassar@gmail.com"
              target="_blank"
              class="btn btn-warning"
            >softwaremakassar@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import carousel from "vue-owl-carousel";

export default {
  name: "MainPortofolio",
  components: { carousel },
  data: () => ({
    list_items: [
      {
        image: "/assets/images/project/ittaf.png"
      },
      {
        image: "/assets/images/project/ittaf2.png"
      },
      {
        image: "/assets/images/project/luwumedia.png"
      },
      {
        image: "/assets/images/project/simatadidik.png"
      },
      {
        image: "/assets/images/project/cerdasmemilih.png"
      },
      {
        image: "/assets/images/project/imaskot.png"
      }
    ],
    list_stack: [
      {
        image: "/assets/images/stack/vue.png",
        width: 150
      },
      {
        image: "/assets/images/stack/laravel.png",
        width: 150
      },
      {
        image: "/assets/images/stack/gcp.png",
        width: 150
      },
      {
        image: "/assets/images/stack/git.png",
        width: 150
      },
      {
        image: "/assets/images/stack/sass.png",
        width: 70
      },
      {
        image: "/assets/images/stack/postgre.png",
        width: 150
      }
    ]
  })
};
</script>
